*{
    margin:0;
    padding:0;
}
.contain{
    display:flex;
    height:100vh;
    border:2px solid black;
    background:linear-gradient(black,rgb(3, 3, 61))
    
    
}
.button-section input{
    width:70px;
    height:55px;
    box-shadow: -8px -8px 15px rgba(255, 255,255,0.1), 5px 5px 15px rgba(0, 0,0,0.2) ;
    font-size: 30px;
}
